*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
.container{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(191, 47, 47, 0.8),rgba(75, 75, 179, 0.8)),url(images.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align:center;
}
.form-box h1{

    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;

}
.form-box h1::after{
    content: '';
    width: 30px;
    height:4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}
.input-field{
    background: #d8c8c8;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field{
    margin-left: 0px;
    color: #000000;
    position: relative;
}
.cb-field{
    display:flex;
    align-items: center;
    justify-content: left;
    position: relative;
    color: #ab3b3b;

} 
input[type="checkbox"] {
    height:1.5em;
    width:1.5em;
    cursor:pointer;
    position:relative;
    border-radius:4em;
    background-color:rgb(18, 1, 28);
    color: #000000;
    
}




.btn-field button{
    flex-basis: 80%;
    background: #6e36c8;
    color: #fff;
    height: 40px;
    width: 50%;
    border-radius: 200px;
    border: 0;
    outline: 0;
    cursor:pointer;
    transition: background 1s;
}
.input-group{
    height: 300px;

}